$bubble_radius: $radius-rounded;
$bubble_padding: $size-6;
$bubble_color: $white;
$bubble_color_invert: darken($info-dark, 15);
$chat_canvas_color: $dark;

$top_background_color: darken($green, 15);
$top_text_color: $white;

$console_background_color: lighten($cyan, 10);
$console_text_color: $cyan-invert;

.feed-hero {
  background-color: $top_background_color;
  color: $top_text_color;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: $size-7;
  box-shadow: $navbar-dropdown-boxed-shadow;
  padding-left: $size-2;
  font-size: $size-5;
  font-weight: $weight-medium;
}

.feed-input {
  background-color: $console_background_color;
  color: $console_text_color;
  position: sticky;
  bottom: 0;
  z-index: 3;
  padding: $size-5;
}

.feed-body {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  z-index: 1;
  background: lighten($chat_canvas_color, 75);
  padding: $size-3;
}

.sentence {
  position: relative;
  border-radius: $bubble_radius;
  padding: $bubble_padding 1.5*$bubble_padding;
  border: none;
  box-shadow: $shadow;
}

.fromBot {
  border-bottom-left-radius: 0;
  text-align: left;
  margin-right: 10em;
  background-color: $bubble_color;
  color: $bubble_color_invert;
  align-self: flex-start;

}

.fromUser {
  border-bottom-right-radius: 0;
  text-align: right;
  margin-left: 10em;
  background-color: $bubble_color_invert;
  color: $bubble_color;
  align-self: flex-end;
}
